
*{
    font-family: "Prociono", sans-serif;
}

body{
    background-image: url(../imagenes/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.contenedor {
    background-color: white; /* Fondo blanco para el contenido */
    padding: 20px; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 800px; /* Ancho máximo */
    margin: auto; /* Centrado */
    margin-top: 160px;
}

.contenedor h1{
    text-align: center;
    color: #0362ff;
}

.contenedor-empleados {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre contenedores */
}

.contenedor-empleados h3{
    color:#0362ff;
}

.empleados-activos, .empleados-desconectados {
    background-color: #f9f9f9; /* Color de fondo del contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    width: 92%; /* Ancho del contenedor (ajusta según sea necesario) */
    max-height: 70px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita desplazamiento vertical si hay más contenido */
}

.empleados-activos h3, .empleados-desconectados h3 {
    margin: 0; /* Elimina margen para el título */
}

.empleados {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre empleados */
}

.empleado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 10px); /* 3 empleados por fila */
    box-sizing: border-box; /* Para incluir padding y border en el ancho */
    margin-bottom: 10px; /* Espacio entre empleados */
}

.empleado img {
    width: 40px; /* Ajusta el tamaño de la imagen */
    height: 40px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Imagen redondeada */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilo del input de búsqueda */
#buscador {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    margin: 0px;
}

.boton-cerrar-sesion {
    display: inline-block; /* Para que se vea como un bloque en línea */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #0362ff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave al pasar el mouse */
    margin-top:10px;
}

.boton-cerrar-sesion:hover {
    background-color: #024bb5; /* Color de fondo al pasar el mouse */
}