{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de empleado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prociono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/RegistroEmpresa.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Registro de Empleado</h2>
            <div class="avatar">
                <img src="../../static/imagenes/centrado.jpeg" alt="User Icon">
            </div>
            <form method="POST" action="{% url 'RegistroEmpleado' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="input-group">
                    <label for="name">Nombre completo</label>
                    <input type="text" id="NombreEmpleado" name="NombreEmpleado" placeholder="Nombre completo" required>
                </div>
                <div class="input-group">
                    <label for="company">Empresa donde trabaja</label>
                    <input type="text" id="EmpresaEmpleado" name="EmpresaEmpleado" placeholder="Nombre de la empresa" required>
                </div>
                <div class="input-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="UsuarioEmpleado" name="UsuarioEmpleado" placeholder="Usuario" required>
                </div>
                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="ContraseñaEmpleado" name="ContrasenaEmpleado" placeholder="Contraseña" required>
                </div>
                <div class="input-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="CorreoEmpleado" name="CorreoEmpleado" placeholder="Correo electrónico" required>
                </div>
                <div class="input-group">
                    <label for="phone">Número de teléfono</label>
                    <input type="tel" id="NumeroEmpleado" name="NumeroEmpleado" placeholder="Número de teléfono" required>
                </div>
                <input type="hidden" name="is_empleado" value="True">
                <button type="submit" class="sign-in-btn">Registrarme</button>
            </form>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <button type="submit" class="back-btn">Regresar</button>
            </form>
        </div>
    </div>
</body>
</html>
